* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: steelblue;
}

/* Header Begin */
header {
    padding: 20px 35px;
    background-color:silver;
    font-style: italic;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    background-attachment: fixed;
}

header h1 {
    font-weight: bolder;
    font-size: 40px;
    color: black;
}

header a {
    text-decoration: none;
    color: purple;
}

header nav {
    margin: 8px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    list-style: none;
}

header nav ul li {
    display: flex;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    color:steelblue;
    border-bottom: black solid 1px;
}
/* Header End */

/* Hero Begin */
.hero {
    background-color:silver;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.hero-textblock {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    font-size: 18px;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero img {
    padding: 10px;
    width: 60%;
    margin: 3.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}
/* Hero End */





.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content:space-between;
}

.box {
    padding: 5px 0;
    align-content: center;
}

.box button {
    padding: auto;
    color: purple;
    background-color: silver;
    border: 1px black solid;
    font-size: 40px;
    border-radius: 10px;
    height: 100px;
    width: 400px;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    align-content:center;
    border-radius: 15px;
}

.box button:hover {
    color:steelblue;
    border: 3px black solid;
}

.row-one {

}

.row-two {

}

#projects, #contact, #resume, #more {
    display: none;
}

/* Footer Begin */
footer {
    background-color: purple;
    color: silver;
    height: 300px;
    width: 100%;
    text-align: center;
}

footer h2 {
    font-size: 40px;
}

footer p {
    font-size: 25px;
}
/* Footer End */

/* Media Queries for screen size */
@media screen and (max-width:980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
      }
    
      header h1 {
        width: 100%;
        text-align: center;
      }
    
      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }
    
      header nav ul li a {
        font-size: 20px;
      }
    
      footer h2, footer div {
        text-align: center;
        width: 100%;
      }

    .hero-textblock {
        width: 100%;
    }

    .hero-textblock {
        text-align: center;
    }

    .section-title {
        width: 80%;
    }

}

@media screen and (max-width:768px) {
    section {
        padding: 30px 15px;
    }
}

@media screen and (max-width:575px) {

    .section-title {
        width: 95%;
    }

    #about-me p {
        width: 100%;
    }

}
