* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: steelblue;
}

/* Header Begin */
header {
    background-image: url("../images/hero\ background.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    padding: 20px 35px;
    background-color:silver;
    font-style: italic;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-attachment: fixed;
    z-index: 9999;
}

header h1 {
    font-weight: bolder;
    font-size: 40px;
    color: white;
    text-decoration: solid black 2px;
}

header a {
    text-decoration: solid black 2px;
    color: white;
}

header nav {
    margin: 8px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    list-style: none;
}

header nav ul li {
    display: flex;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    color:steelblue;
    border-bottom: white solid 3px;
    text-decoration: solid 3px black;
}
/* Header End */

/* Hero Begin */
.hero {
    background-image: url("../images/hero\ background.jpg");
    background-size: cover;
    background-position: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    background-attachment: fixed;
}

.hero-textblock {
    background-color: rgba(70, 130, 180, 0.5);
    width: 35%;
    text-align: left;
    margin: 3.5%;
    font-size: 18px;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.hero-textblock h2 {
    color: white;
    text-align: center;
    font-size: 50px;
    border-bottom: solid 3px white;
    margin: auto 15%;
}

.hero-textblock p {
    padding-top: 3%;
    color: white;
}

.hero img {
    padding: 10px;
    width: auto;
    margin: 3.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}
/* Hero End */



#about-me {
    color: white;
    text-align: center
}

#about-me h2 {
    font-size: 40px;
    border-bottom: 3px solid black;
    margin: auto 40%;
}

#about-me p {
    font-size: 25px;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content:space-between;
}

.box {
    padding: 5px 0;
    align-content: center;
}

.box button {
    padding: auto;
    color: steelblue;
    background-color: white;
    border: 1px black solid;
    font-size: 40px;
    border-radius: 10px;
    height: 100px;
    width: 400px;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    align-content:center;
    border-radius: 15px;
}

.box button:hover {
    color:steelblue;
    font-weight:bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 3px black solid;
}

.row-one {

}

.row-two {

}

.box ul li {
    list-style: none;
    color: white;
    line-height: 1.5;
}

#projects ul li a {
    text-decoration: none;
    border-bottom: 0;
    color: white;
    line-height: 1.5;
}

#projects ul li a:hover {
    font-weight: bold;
    border-bottom: 1px solid white;
}

#contact ul li a {
    text-decoration: none;
    color: white;
}

#contact ul li a:hover {
    font-weight: bold;
    border-bottom: 1px solid white;
}

#resume a {
    text-decoration: none;
    color: white;
}

#resume a:hover {
    color: white;
    font-weight: bold;
    border-bottom: solid 1px white;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

#more {
    color: white;
    line-height: 1.5;
}

#projects, #contact, #resume, #more {
    display: none;
}

/* Footer Begin */
footer {
    background-image: url("../images/hero\ background.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    color: steelblue;
    height: 200px;
    width: 100%;
    text-align: center;
}

footer h2 {
    font-size: 40px;
}

footer p {
    font-size: 25px;
}
/* Footer End */

/* Media Queries for screen size */
@media screen and (max-width:980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
      }
    
      header h1 {
        width: 100%;
        text-align: center;
      }
    
      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }
    
      header nav ul li a {
        font-size: 20px;
      }
    
      footer h2, footer div {
        text-align: center;
        width: 100%;
      }

    .hero-textblock {
        width: 100%;
    }

    .hero-textblock {
        text-align: center;
    }

    .section-title {
        width: 80%;
    }

}

@media screen and (max-width:768px) {
    section {
        padding: 30px 15px;
    }
}

@media screen and (max-width:575px) {

    .section-title {
        width: 95%;
    }

    #about-me p {
        width: 100%;
    }

}
